@font-face {
    font-family: "Myriad Pro";
    src: url("fonts/subset-MyriadPro-Regular.eot");
    src: url("fonts/subset-MyriadPro-Regular.eot?#iefix") format("embedded-opentype"),
        url("fonts/subset-MyriadPro-Regular.woff2") format("woff2"),
        url("fonts/subset-MyriadPro-Regular.woff") format("woff"),
        url("fonts/subset-MyriadPro-Regular.ttf") format("truetype"),
        url("fonts/subset-MyriadPro-Regular.svg#MyriadPro-Regular") format("svg");
    font-weight: 500;
    font-style: normal;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Myriad Pro", sans-serif;
    background-color: greenyellow;
}
.menu {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    background-color: red;  
}
.link {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 5px 10px 5px 5px;
    text-align: center;    
}
.down {
    position: relative;
}
.ulsd { 
    position: absolute;
    list-style: none;
    display: none;
}
.sudmenu {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: red;
    width: 180px;
    display: block;
    text-align: center;   
}   
.link:hover {
    background-color: black;  
    text-decoration: underline;
}
.sudmenu:hover {
    background-color: black;
    text-decoration: underline;
} 
.menu:hover .ulsd {
    display: block;
}
.fon { 
    background-image: url("images/shmidta.JPG");
    width: 1000px;
    height: 1000px;
    margin: 10px 0px 30px 100px;
}

